<header class="site-header">


    <a class="site-title" href="{{ site.baseurl }}/" >وب سایت شخصی محبوبه موحدی نسب</a>

        <nav class="navbar navbar-default" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
         
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered" >
                   <ul class="nav navbar-nav navbar-right">
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
            <li><a href="#">نظرات</a></li>
              <li><a href="#">درباره ما</a></li>
 
           <li><a href="#">تماس باما</a></li>
           <li><a href="#">پست ها</a></li>
           <li><a href="index.html">صفحه اصلی</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

</header>
